[build-system]
requires = ["setuptools>=67"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88
target-version = ["py311"]

[tool.ruff]
line-length = 88
target-version = "py311"
select = ["E", "F", "I", "B"]

[tool.coverage.run]
branch = true
source = ["app"]

